.form-container{
    width: 100%;
    background: rgb(141, 217, 247);
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.label{
    color: rgb(49, 49, 49);
}
.input-full-width{
    width: 80% !important;
    margin: auto;
    display: block;
}
.btn-form-crud{
    margin: auto;
    display: block;
}